<main class="flex-shrink-0">
  <div class="container">
      <h3 class="my-3">Registrar carro</h3>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off" class="row g-3">

        <div class="col-md-8">
            <label for="marca" class="form-label">Marca:</label>
            <input type="text" class="form-control" id="marca" name="marca" formControlName="marca">
        </div>

        <div class="col-md-6">
          <label for="modelo" class="form-label">Modelo:</label>
          <input type="text" class="form-control" id="modelo" name="modelo" formControlName="modelo">
        </div>

        <div class="col-md-6">
            <label for="color" class="form-label">Color:</label>
            <input type="text" class="form-control" id="color" name="color" formControlName="color">
        </div>

        <div class="col-md-6">
            <label for="anio" class="form-label">Año:</label>
            <input type="number" class="form-control" id="anio" name="anio" formControlName="anio">
        </div>

        <div class="col-md-6">
            <label for="cilindraje" class="form-label">Cilindraje:</label>
            <input type="number" class="form-control" id="cilindraje" name="cilindraje" formControlName="cilindraje">
        </div>

        <div class="col-md-6">
          <label for="precio" class="form-label">Precio:</label>
          <input type="number" class="form-control" id="precio" name="precio" formControlName="precio">
        </div>

        <div class="col-12">
            <a [routerLink]="['/']" class="btn btn-secondary m-2">Regresar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

  </div>
</main>

<div *ngIf="modalSwitch">
  <app-modal [mensaje]= mensaje></app-modal>
</div>
